<section class="profile-container">
  <h1 class="profile-title">Profile</h1>
  @if (user().id != 0) {
    <div class="profile-details">
      <div class="profile-row">
        <span class="profile-label">Username:</span>
        <span class="profile-value">{{ user().username }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">First Name:</span>
        <span class="profile-value">{{ user().firstName }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">Last Name:</span>
        <span class="profile-value">{{ user().lastName }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">Email:</span>
        <span class="profile-value">{{ user().email }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">Role:</span>
        <span class="profile-value">{{ UserRole[user().role] }}</span>
      </div>
      <div class="profile-row">
        <span class="profile-label">Date of Birth:</span>
        <span class="profile-value">{{ user().dateOfBirth }}</span>
      </div>
    </div>
  } @else {
    <div class="profile-details">
      <span>Loading...</span>
    </div>
  }
</section>